<!DOCTYPE html>
<html>
<head>
  <title>Add Person</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Create a Person</h1>
<form action="/create_person" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" required>
  <br>
  <label for="second_name">Second Name:</label>
  <input type="text" name="second_name" required>
  <br>
  <label for="city">City:</label>
  <input type="text" name="city" required>
  <br>
  <label for="date_of_birth">Date of Birth:</label>
  <input type="date" name="date_of_birth">
  <br>
  <input type="submit" value="Add Person">
</form>
</body>
</html>
