<!DOCTYPE html>
<html>
<head>
  <title>Let's begin!</title>
  <link rel="stylesheet" type="text/css" href="./start_page.css">
</head>
<body>
<div class="greeting">
  <h1>Hello 😊, Do you have an account?</h1>
</div>

<div class="buttons">
  <a href="/log_in_form" class="btn">Yes</a>
  <a href="/sign_up_form" class="btn">I don't have account</a>
</div>
</body>
</html>
