<!-- error_403.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Request error</title>
  <link rel="stylesheet" type="text/css" href="/error_400ish.css">
</head>
<body>
<div class="error-container">
  <h1>403 error - Action is forbidden</h1>
  <img src="/cat2.jpg" alt="Cat">
  <p>Не переживай, переживеш!</p>
  <a href="/start" class="btn">Go to start page</a>
</div>
</body>
</html>
