<!-- error_404.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Request error</title>
  <link rel="stylesheet" type="text/css" href="/error_400ish.css">
</head>
<body>
<div class="error-container">
  <h1>404 - Page not found</h1>
  <img src="/cat.jpg" alt="Cat">
  <p>Не переживай, переживеш!</p>
</div>
</body>
</html>
