<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
  <link rel="stylesheet" href="/record_access_error.css">
</head>
<body>
<div class="error-container">
  <h1>You don't have access to users management!</h1>
  <a href="/homepage" class="back-button">Back</a>
</div>
</body>
</html>
