<!DOCTYPE html>
<html>
<head>
  <title>My Home Page</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>
<body>
<div class="greeting">
  <h1>Hello, welcome to my website!</h1>
</div>

<div class="buttons">
  <a href="/added_person_form" class="btn">Create Person Record</a>
  <a href="/people_list" class="btn">Get All Records</a>
  <a href="/cities_statistics" class="btn">Get Cities Statistics</a>
  <a href="/log_out" class="btn">Log out</a>
  <a href="/cat" class="btn">Want to see a cute cat?</a>
</div>

<% if current_user.role == 'admin' %>
  <h2 class="greeting">Manage users</h2>
  <div class="buttons">
    <a href="/create_user" class="btn">Create User</a>
    <a href="/edit_user" class="btn">Edit User</a>
    <a href="/delete_user" class="btn">Delete User</a>
  </div>
<% end %>

</body>
</html>
